<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('template/head')%>
    <title>404 not found</title>
</head>
<body>
    <%-include('template/navbar')%>
    <div class="container">
        <div class="text-center pt-5">
            <h1>Error 404 not found!</h1>
            <img src="../public/image/404error.jpg" alt="">
        </div>
    </div>

</body>
</html>