<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../template/head')%>
    <title>Document</title>
</head>
<body>
    <%-include('../template/navbar')%>
    <%-include('../template/footer')%>
</body>
</html>