<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('../template/head')%>
    <title>Add book</title>
</head>

<body>
  <%-include('../template/navbar')%>
    <div class="container-fluid mb-3">
      <div class="row">
        <%-include('../template/navbarAdmin')%>
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div
              class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
              <h1 class="h2">Add book</h1>

            </div>
            <form method="POST" action="/admin/add-book" enctype="multipart/form-data">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Title</label>
                <input type="text" class="form-control" name="title">

              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Author</label>
                <input type="text" class="form-control" name="author">

              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Description</label>
                <textarea type="text" class="form-control" name="description"></textarea>
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Categories</label>
                <input type="text" class="form-control" name="categories">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Published date</label>
                <input type="date" class="form-control" name="published_date">
              </div>
              <div class="mb-3">
                <label for="formFile" class="form-label">Image</label>
                <input class="form-control" type="file" id="image" name="image">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </main>
      </div>
    </div>
    <%-include('../template/footer')%>
</body>
</html>