<!-- <footer class="footer mt-auto pt-5 footerOpenLib ">
    <div class=" p-2" style=" height: 200px;">
        <div class="row " style="text-align: center;">
            <div class="col">
               <h3 class="fw-bold">Links</h3> 
            </div>
            <div class="col">
                <h3 class="fw-bold">About Us</h3> 
            </div>
        </div>
    </div>
</footer> -->
<footer class="footer ">
    <div class="contain">
    <div class="col">
      <h1>Library</h1>
      <ul>
        <li>About</li>
        <li>Order</li>
        <li>Services</li>
        <li>Social</li>
        
      </ul>
    </div>
    <div class="col">
      <h1>Book</h1>
      <ul>
        <li>Actor</li>
        <li>Book Title</li>
        <li>Rating</li>
        <li>Social</li>
      </ul>
    </div>
    <div class="col">
      <h1>Accounts</h1>
      <ul>
        <li>Registration</li>
        <li>Account Support</li>
        <li>Sign Up</li>
      </ul>
    </div>
    <div class="col">
      <h1>Social</h1>
      <ul>
        <li>Faccebook</li>
        <li>Youtube</li>
        <li>Twitter</li>
        <li>Zalo</li>
        <li>Instagram</li>
        <li>Email</li>
      </ul>
    </div>
    <div class="col">
      <h1>Support</h1>
      <ul>
        <li>Contact us</li>
        <li>Support</li>
        <li>Order Book</li>
      </ul>
    </footer>