<nav class="navbar navbar-expand-lg navbar-light navbar-inverse">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img class="img" src="https://image.flaticon.com/icons/png/512/1800/1800196.png" style="width: 30px;height: 30px;"  alt="" class="mr-2">
      OpenLib</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="myNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if(locals.accountDataNav){%>
            <%if(locals.accountDataNav.authority.authority==="admin" ){ %>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/admin">Welcome! <%= accountDataNav.firstname %>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/logout">Log out</a>
              </li>
              <%}else if(locals.accountDataNav.authority.authority==="staff" ){%>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/staff">Welcome! <%= accountDataNav.firstname %>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/logout">Log out</a>
                </li>
                <%}else{%>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/customer">Welcome! <%=
                        accountDataNav.firstname %></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/logout">Log out</a>
                  </li>
                  <%}%>
                    <% }else {%>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/login">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/signup">Sign up</a>
                      </li>
                      <% }%>
        </ul>
      </div>
    </div>
  </div>
</nav>