.styleText{
    font-family: 'Brush Script MT', cursive;
}
.author{
    font-size: 14px;
}
.container-wrapper {
    height: auto;
    margin: 100px 80px 200px 80px;
}
.backgroundOpenlib{
    background-color: #d99058;
    background-image: linear-gradient(315deg, #d99058 0%, rgb(248, 222, 126) 74%);
}
.footerOpenLib{
    background-color: #bbf0f3;
    background-image: linear-gradient(315deg, #bbf0f3 0%, #f6d285 74%);
}

.navOpenLib{
    background-color: #f7f1e3;
}
a{
    text-decoration: none;
    color: inherit; 
    background-color: unset ;
}
a:hover{
    text-decoration: none;
    color: inherit; 
    background-color: unset ;
}

.spantext{
    color: gray; 
    font-size: 14px;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


.link-bar:hover {
    transform:scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 5px 10px rgba(0,0,0,.06);
};

.nav-color{
    background-color: whitesmoke;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
input[type=checkbox] {
    width: 15px;
    height: 15px;
    -moz-appearance: none;
}
#rcorners2 {
    border-radius: 15px;
    border: 2px solid #73AD21;
    padding: 10px;
    width: min-content;
  }