.styleText{
    font-family: 'Brush Script MT', cursive;
}
.author{
    font-size: 14px;
}
.container-wrapper {
    height: auto;
    margin: 100px 80px 200px 80px;
}
.backgroundOpenlib{
    background-color: #d99058;
    background-image: linear-gradient(315deg, #d99058 0%, rgb(248, 222, 126) 74%);
}
.footerOpenLib{
    background-color: #bbf0f3;
    background-image: linear-gradient(315deg, #bbf0f3 0%, #f6d285 74%);
}

.navOpenLib{
    background-color: #f7f1e3;
}
a{
    text-decoration: none;
    color: inherit; 
    background-color: unset ;
}
a:hover{
    text-decoration: none;
    color: inherit; 
    background-color: unset ;
}

.spantext{
    color: gray; 
    font-size: 14px;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


.link-bar:hover {
    transform:scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 5px 10px rgba(0,0,0,.06);
};

.nav-color{
    background-color: whitesmoke;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
input[type=checkbox] {
    width: 15px;
    height: 15px;

}
#rcorners2 {
    border-radius: 15px;
    border: 2px solid #73AD21;
    padding: 10px;
    width: min-content;
  }
html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}
footer {
    background-color: grey;
    display: table-row;
    height: 0;
}

/* @media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
} */


/* test */
body{
    outline: none;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.img{
    width: 16em;
    height: 330px;
    border-radius: 20px;
}
.navbar-inverse{
    background-color: #d3d3d3;
    background-image: linear-gradient(315deg, #d3d3d3 0%, #eccc68 74%);
    border-color: transparent ;
}
.navbar-inverse .navbar-brand{
    margin-right: 40px;
}

#myNavbar .myNavbar li a{
    color: #fff;
}

#myNavbar #myDropdown {
    transition: all 0.3s ease-in-out;
}

.dropdown-menu{
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    z-index: 1;
}
#sub-dropdown-menu{
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    margin-left: 160px;
    margin-top: -47px;
}
#sub-dropdown-menu a, .dropdown-menu a{
    color: #000 !important;
    font-size: 16px !important;
}
.dropdown:hover .dropdown-menu{
    display: block;
    transition: all o.5s ease-in-out;
}
.dropdown .dropdown-menu a:hover{
    background-color: #c9c7c7;
}
#sub-dropdown:hover #sub-dropdown-menu{
    display: block;

}


